<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}abcArticles - A small web app.{% endblock %}</title>
    <link rel="shortcut icon" href="/../assets/favicon.ico"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="http://getbootstrap.com/examples/sticky-footer/sticky-footer.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body role="document">
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">abcArticles</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% set route = app.request.attributes.get('_route') %}
                <li class="{{ (route == '/')? 'active' }}"><a href="{{ path('homepage') }}">Home</a></li>
                <li class="{{ (route == 'articles' or route == 'article')? 'active' }}"><a
                            href="{{ path('articles') }}">Articles</a></li>
                <li class="{{ (route == 'restricted' or route == 'restricted')? 'active' }}">
                    <a href="{{ path('restricted') }}">Restricted</a></li>
                <li class="{{ (route == 'about')? 'active' }}"><a href="{{ path('about') }}">About</a></li>
                <li class="{{ (route == 'admin')? 'active' }}"><a href="{{ path('admin') }}">Admin</a></li>

                {% if app.security.token.user.username is defined %}
                    <li><a href="{{ path('logout') }}">{{ app.security.token.user.username }} - Log out</a></li>
                {% else %}
                    <li class="{{ (route == 'login')? 'active' }}"><a href="{{ path('login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container theme-showcase" style="padding-top:80px" role="main">
    {% block content %}
    {% endblock content %}
</div><!-- /.container -->
<footer class="footer">
    <div class="container">
        <p class="text-muted">
            &copy; 2016 Company, Inc. <a href="#">Back to top</a>
        </p>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="/../assets/js/bootstrap.js"></script>
<script src="/../assets/js/bootstrap-confirmation.js"></script>
<script src='/../assets/js/tinymce/tinymce.min.js'></script>
<script>

    $(function () {
        $('body').confirmation({
            selector: '[data-toggle="confirmation"]'
        });
        $('.confirmation-callback').confirmation({
            onConfirm: function () {
                alert('confirm')
            },
            onCancel: function () {
                alert('cancel')
            }
        });
        /*
        tinymce.init({
            selector: '#form_content',
            theme: 'modern',
            height: 320,
            plugins: [
                'advlist autolink link image lists charmap preview hr anchor pagebreak spellchecker',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                'save table contextmenu directionality paste textcolor'
            ],
            toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | preview media',
            setup: function (editor) {
                editor.on('change', function () {
                    editor.save();
                });
            }
        });
        */

    });
</script>
</body>
</html>
